@{
    ViewData["Title"] = "Đăng Nhập";
}

@if (ViewBag.loi != null)
{
    <p class="text-danger text-center">@ViewBag.loi</p>
}
<p>Đăng Nhập</p>
<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Mật Khẩu:</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
</form>